body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../src/images/bosporus_bridge_dusk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15rem;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(rgba(1, 4, 11, 0.7), rgba(1, 4, 11, 0.6)), url("../src/images/bosporus_bridge_dusk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  gap: 2rem;
  padding: 4rem 0;
  color: white;
}

.footer-column {
  padding: 0 1rem;
}

footer h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0;
}

footer p,
footer a {
  font-weight: 300;
}

footer ul {
  padding: 0;
  ;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}






@media (max-width: 900px) {
  header {
    padding: 3rem 1rem;
  }

  header h1 {
    font-size: 4rem;
  }

  header h2 {
    font-size: 2rem;
  }

  header h3 {
    font-size: 1rem;
  }
}