html[lang="ar"] body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html[lang="ar"] .hero h3 {
  font-weight: 700;
}

[dir="ltr"] {
  font-family: "Poppins", sans-serif;
}

html[lang="ar"] p,
html[lang="ar"] a {
  font-size: 1.4rem;
}

[dir="ltr"] {
  font-size: 1rem;
}

html[lang="ar"] .eateries p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

html[lang="ar"] .eateries [dir="ltr"] {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: 700;
}

.letter-spacing {
  letter-spacing: 0.1rem;
}

html[lang="ar"] .letter-spacing {
  letter-spacing: 0;
}

.language-selection {
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 0;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  margin: 0;
}

strong {
  font-weight: 500;
}

html[lang="ar"] strong {
  font-weight: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 5, 9, 0.2), rgba(0, 5, 9, 0.2)), url("../src/images/bosporus_bridge_dusk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
}

.hero h1 {
  font-size: 5rem;
  margin: 2rem 0;
}

.hero h2 {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  opacity: 1;
  text-transform: none;
}

.hero h3 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-top: 10rem;
}

.hero a {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: black;
  transition: all 400ms ease-in-out;
}

.hero a:hover {
  color: white;
  background-color: rgb(70, 44, 178);
  transition: all 400ms ease-in-out;
}



p {
  font-weight: 400;
  opacity: 0.8;
  text-align: start;
}

main {
  background-color: white;
}

h2 {
  font-size: 1rem;
  opacity: 0.5;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: normal;
  margin-top: 0;
}

h4 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

h5 {
  font-size: 0.9rem;
  margin: 0 0 0.2rem 0;
  text-align: start;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

img,
iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  margin: 0 auto;
  padding: 4rem 6rem;
}

section.secondary {
  background-color: rgb(248, 248, 248);
  text-align: center;
}

.eateries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.eateries p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

.eateries .btn {
  display: block;
  color: white;
  padding: 1rem;
  width: 60%;
  background-color: rgb(70, 44, 178);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.card-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.resto-image {
  display: block;
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 0 2rem;
}

.gallery {
  text-align: center;
}

.photos-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  overflow: hidden;
}

.photos-grid a {
  display: block;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

footer {
  background-image: linear-gradient(rgba(1, 4, 11, 0.7), rgba(1, 4, 11, 0.6)), url("../src/images/bosporus_bridge_dusk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.2fr 2fr 2fr;
  gap: 2rem;
  color: white;
  max-width: 1400px;
}

.footer-column {
  padding: 0 1rem;
}

footer p,
footer a {
  font-weight: 300;
  opacity: 1;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  color: white;
}

@media (max-width: 900px) {
  header {
    padding: 4rem 1rem;
    height: fit-content;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero h3 {
    font-size: 1rem;
    padding: 0;
  }

  section {
    margin: 0 auto;
    padding: 4rem 2rem;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }

  .eateries {
    grid-template-columns: 1fr;
  }

  .resto-image {
    display: none;
  }

  .card-heading {
    grid-template-columns: 1fr;
  }

  iframe {
    aspect-ratio: 16 / 9;
  }

  .photos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}